.Main {
  position: relative;
  background-color: rgb(127, 255, 212, 0.666);
  height: 90vh;
  overflow-y: auto;

  margin-left: 8vmin;
  margin-top: 2vh;
  
  width: max-content;
  padding: 1vmin;
  border-radius: 1vmin;
}

.Hrefs {
  margin: 5px 3px;
  width: inherit;
  text-decoration: none;
}

.Handle {
  margin-top: 20px;
  color: #10009c;
  font-size: 47px;
}

.Body {
  background-image: url("Dizign.gif");
  background-size: 10%;
}

.Main li {
  width: inherit;
  margin: 3px 2px;
  background-color: rgba(135, 206, 250, 0.30);
  text-align: center;
  font-size: 18px;
  font-family: "Consolas";
  text-decoration: none;
}

.Main .CGSGLogo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  margin: 1vmin;
}

.Main .CGSGLogo img {
  height: 120px;
  width: 160px;
}

.Main .ReturnButton {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 2vmin;
  background-color: coral;
  border-radius: 1vmin;
  margin: 1vmin;
  
  text-align: center;
  font-size: 18px;
  font-family: "Consolas";
  text-decoration: none;
}
